<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <contact-form-widget></contact-form-widget>
            </div>
            <div class="col-sm-6 col-md-4">
                <statistics-widget ng-if="dashboardCtrl.dataStatisticsWidget" widget-data='dashboardCtrl.dataStatisticsWidget'></statistics-widget>
            </div>
            <div class="col-sm-6 col-md-4">
                <profile-widget ng-if="dashboardCtrl.dataProfileWidget" widget-data='dashboardCtrl.dataProfileWidget'></profile-widget>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <navigation-widget ng-if="dashboardCtrl.dataNavWidget" widget-data='dashboardCtrl.dataNavWidget'></navigation-widget>
            </div>
        </div>
    </div>
</div>
