<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <profile-widget widget-data='dashboardCtrl.dataProfileWidget'></profile-widget>
            </div>
            <div class="col-sm-6 col-md-4">
                <statistics-widget widget-data='dashboardCtrl.dataStatisticsWidget'></statistics-widget>
            </div>
            <div class="col-sm-6 col-md-4">
                <contact-form-widget></contact-form-widget>
            </div>
        </div>
    </div>
</div>
