$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "variables.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
body {
    background: $orange;
}

$open-sans: 'Open Sans',
sans-serif;
// Styles
body {
    font-family: $open-sans;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $open-sans;
    font-weight: normal;
}

.button {
    font-family: $open-sans;
    font-weight: bold;
}

.language-buttons {
    margin: 10px 0px;
    width: 100%;
    button {
        float: right;
        background: transparent;
        color: $brown;
        border: 0px;
        &:disabled {
            color: $white;
        }
    }
}

profile-widget {
    .profile-widget-container {
        background: $white;
        border-radius: 5px;
        box-shadow: 0 0 12px $shadow;
        margin: 20px 0px;
        .profile-header {
            position: relative;
            .header-image {
                img {
                    border-radius: 5px 5px 0 0;
                    width: 100%;
                }
            }
        }
        .profile-body {
            position: relative;
            min-height: 120px;
            padding: 10px;
            background: $white;
            .profile-image {
                width: 90px;
                height: 90px;
                border: 1px solid $softGray;
                padding: 7px;
                border-radius: 50%;
                position: absolute;
                top: 10px;
                left: 10px;
                img {
                    display: block;
                    border-radius: 50%;
                    width: 75px;
                    height: 75px;
                }
            }
            .profile-content {
                padding-left: 110px;
                h5 {
                    font-size: 26px;
                    font-weight: 600;
                    color: $brown;
                    margin-bottom: 10px;
                }
                p {
                    color: $softBrown;
                }
            }
        }
        .profile-footer {
            position: relative;
            height: 44px;
            ul {
                list-style: none;
                border-radius: 0 0 5px 5px;
                width: 100%;
                padding: 0px;
                li {
                    float: left;
                    background: $darkWhite;
                    font-size: 15px;
                    line-height: 24px;
                    font-weight: 700;
                    text-align: center;
                    width: calc(100% / 3);
                    border-left: 1px solid $white;
                    &:first-child {
                        border-left: 0 none;
                        border-radius: 0 0 0 5px;
                    }
                    &:last-child {
                        border-radius: 0 0 5px 0;
                    }
                    a {
                        text-decoration: none;
                        color: $softBrown;
                        width: 100%;
                        display: inline-block;
                        padding: 10px 5px;
                        &:hover {
                            cursor: pointer;
                            color: $red;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

statistics-widget {
    .statistics-widget-container {
        background: $white;
        border-radius: 5px;
        box-shadow: 0 0 12px $shadow;
        margin: 20px 0px;
        .statistics-header {
            height: 160px;
            position: relative;
            .statistics-header-superior {
                height: 50%;
                background: $green;
                padding: 15px 20px;
                color: $white;
                border-radius: 5px 5px 0 0;
                h3 {
                    font-size: 22px;
                    font-weight: 200;
                    i {
                        font-size: 10px;
                        padding-right: 5px;
                    }
                }
                h5 {
                    font-weight: 100;
                    font-size: 14px;
                    padding-left: 15px;
                }
                h3,
                h5 {
                    margin: 0px;
                }
            }
            .statistics-header-inferior {
                height: 50%;
                background: $darkGreen;
                overflow: hidden;
                span {
                    width: 100%;
                }
            }
            .statistics-header-absolute {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0px;
                padding: 30px 30px;
                text-align: center;
                overflow: hidden;
            }
        }
        .statistics-body {
            padding: 15px 20px;
            .statistics-time {
                font-size: 12px;
                color: $darkGray;
            }
            .statistics-location {
                font-size: 21px;
                color: $softBrown;
            }
            .statistics-time,
            .statistics-location {
                font-weight: 200;
                margin: 0;
            }
            ul {
                list-style: none;
                padding: 0px;
                margin-top: 20px;
                height: 80px;
                li {
                    float: left;
                    width: 50%;
                    background: $darkWhite;
                    border-left: 1px solid $white;
                    text-align: center;
                    padding: 15px;
                    strong {
                        display: block;
                        font-size: 18px;
                        font-weight: 600;
                        color: $softBrown;
                        font-weight: 400;
                    }
                    span {
                        font-size: 12px;
                        color: $gray;
                        font-weight: 200;
                    }
                }
            }
            .statistics-bottom {
                height: 80px;
                .statistics-bottom-graph,
                .statistics-bottom-number {
                    float: left;
                    width: 50%;
                    h5 {
                        font-size: 14px;
                        color: $softGray;
                        font-weight: 200;
                        padding: 0px 10px;
                    }
                }
                .statistics-bottom-number {
                    span {
                        background: $darkGreen;
                        padding: 5px;
                        text-align: center;
                        color: $white;
                        width: calc(100% - 20px);
                        display: inline-block;
                        margin: 0px 10px;
                        font-size: 20px;
                        font-weight: 100;
                        &:hover {
                            background: $darknessGreen;
                            cursor: pointer;
                        }
                    }
                }
                .statistics-bottom-graph {
                    .statistics-graph-container {
                        text-align: center;
                    }
                }
            }
        }
    }
}

contact-form-widget {
    .form-widget-container {
        background: $white;
        border-radius: 5px;
        box-shadow: 0 0 12px $shadow;
        margin: 20px 0px;
        .form-body {
            padding: 25px;
            label,
            input,
            textarea {
                width: 100%;
                font-weight: 200;
            }
            label {
                font-size: 16px;
                color: $gray;
            }
            .error {
                font-size: 13px;
                font-weight: 200;
                color: $red;
            }
            .form-subject,
            .form-message {
                input,
                textarea {
                    border-radius: 4px;
                    border: 1px solid $softYellow;
                    &:focus {
                        outline-width: 0;
                    }
                }
                input {
                    height: 50px;
                    padding-left: 10px;
                }
                textarea {
                    height: 110px;
                    padding: 10px;
                }
            }
            .form-contacts,
            .form-subject,
            .form-message {
                margin-bottom: 15px;
            }
            .form-contacts {
                tags-input {
                    .tags {
                        min-height: 50px;
                        border-radius: 4px;
                        border: 1px solid $softYellow;
                        box-shadow: 0px 0px 0px 0px $softYellow inset;
                        &:focus,
                        &.focused {
                            outline-width: 0;
                            box-shadow: 0px 0px 0px 0px $softYellow inset;
                            border-radius: 4px;
                        }
                        .tag-item {
                            background: $darkGreen;
                            color: $white;
                            height: 43px;
                            padding: 8px 15px;
                            span {
                                font-weight: 200;
                            }
                            a {
                                color: $white;
                            }
                        }
                        input {
                            height: 40px;
                        }
                    }
                }
            }
        }
        .form-footer {
            background: $darkWhite;
            height: 90px;
            width: 100%;
            .save-copy,
            .send-mail {
                float: left;
                width: 50%;
                text-align: center;
                padding: 15px 0px;
            }
            .save-copy {
                .custom-check {
                    display: inline-block;
                    width: 20px;
                    position: relative;
                    margin: 15px 5px;
                    label {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: $white;
                        border: 1px solid $gray;
                        &:after {
                            content: '';
                            width: 11px;
                            height: 7px;
                            position: absolute;
                            top: 4px;
                            left: 4px;
                            border: 2px solid $darkGreen;
                            border-top: none;
                            border-right: none;
                            background: transparent;
                            opacity: 0;
                            transform: rotate(-45deg);
                        }
                        &:hover::after {
                            opacity: 0.5;
                        }
                    }
                    input[type=checkbox] {
                        visibility: hidden;
                        &:checked+label:after {
                            opacity: 1;
                        }
                    }
                }
                .label-check {
                    font-size: 16px;
                    font-weight: 200;
                    color: $gray;
                }
            }
            .send-mail {
                button {
                    display: inline-block;
                    height: 45px;
                    line-height: 41px;
                    background: $red;
                    border: 1px solid $darkRed;
                    padding: 0 10px;
                    border-radius: 5px;
                    font-size: 16px;
                    font-weight: 200;
                    color: $white;
                    white-space: nowrap;
                    text-shadow: none;
                    text-decoration: none;
                    cursor: pointer;
                    width: calc(100% - 10px);
                    margin-right: 10px;
                    &:hover {
                        background: $darkRed;
                    }
                    &:focus {
                        outline-width: 0;
                    }
                    i {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

navigation-widget {
    .nav-widget-container {
        background: $white;
        border-radius: 5px;
        box-shadow: 0 0 12px $shadow;
        margin: 20px 0px;
        .nav-header {
            position: relative;
            min-height: 120px;
            padding: 15px;
            background: $darknessGray;
            .nav-image {
                width: 90px;
                height: 90px;
                border: 1px solid $brown;
                padding: 7px;
                border-radius: 50%;
                position: absolute;
                top: 15px;
                left: 20px;
                img {
                    display: block;
                    border-radius: 50%;
                    width: 75px;
                    height: 75px;
                }
            }
            .nav-description {
                padding-left: 110px;
                h5 {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: $white;
                    margin-bottom: 0px;
                    margin-top: 25px;
                }
                p {
                    color: $softBrown;
                }
            }
        }
        .nav-body {
            ul {
                list-style: none;
                padding: 0px;
                li {
                    padding: 12px 32px;
                    font-size: 14px;
                    line-height: 20px;
                    color: $softBrown;
                    border-left: 3px solid transparent;
                    cursor: pointer;
                    span {
                        font-size: 16px;
                        font-weight: 300;
                    }
                    i {
                        float: right;
                    }
                    &:hover,
                    &.selected {
                        background: $darkWhite;
                        border-left: 3px solid $darkGreen;
                        i {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {}
