$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
profile-widget {
    .profile-widget-container {
        border-radius: 5px;
        box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
        .profile-header {
            position: relative;
            .header-image {
                img {
                    border-radius: 5px 5px 0 0;
                    width: 100%;
                }
            }
        }
        .profile-body {
            position: relative;
            min-height: 120px;
            padding: 10px;
            background: #fff;
            .profile-image {
                width: 90px;
                height: 90px;
                border: 1px solid #BAB8B3;
                padding: 7px;
                border-radius: 50%;
                position: absolute;
                top: 10px;
                left: 10px;
                img {
                    display: block;
                    border-radius: 50%;
                    width: 75px;
                    height: 75px;
                }
            }
            .profile-content {
                padding-left: 110px;
                h5 {
                    font-size: 26px;
                    font-weight: 600;
                    color: #5c5146;
                    margin-bottom: 10px;
                }
                p {
                    color: #8e8071;
                }
            }
        }
        .profile-footer {
            position: relative;
            height: 44px;
            ul {
                list-style: none;
                border-radius: 0 0 5px 5px;
                width: 100%;
                padding: 0px;
                li {
                    float: left;
                    background: #f5ede8;
                    font-size: 15px;
                    line-height: 24px;
                    font-weight: 700;
                    text-align: center;
                    width: calc(100% / 3);
                    border-left: 1px solid #fff;
                    &:first-child {
                        border-left: 0 none;
                        border-radius: 0 0 0 5px;
                    }
                    &:last-child {
                        border-radius: 0 0 5px 0;
                    }
                    a {
                        text-decoration: none;
                        color: #7b6d5e;
                        width: 100%;
                        display: inline-block;
                        text-decoration: none;
                        padding: 10px 5px;
                        &:hover {
                            cursor: pointer;
                            color: #e05033;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {}
