$white: #ffffff;
$darkWhite: #f6f0ec;
$brown: #5c5146;
$shadow: rgba(58, 51, 46, 0.26);
$softGray: #BAB8B3;
$darkGray: #bfb8b1;
$softBrown: #7b6d5e;
$red: #e05033;
$darkRed: #c44a28;
$green: #54BC75;
$darkGreen: #4daf7b;
$darknessGreen :#3d9e68;
$gray :#ad9e8e;
$darknessGray: #b1a599;
$softYellow: #e5d4c2;
$orange :#CE9579;
