<div class="nav-widget-container">
    <div class="nav-header">
        <div class="nav-image">
            <img ng-src="{{navWidgetCtrl.widgetData.profileImage}}" alt="nav-image">
        </div>
        <div class="nav-description">
            <h5>{{navWidgetCtrl.widgetData.name | uppercase }}</h5>
            <p>{{navWidgetCtrl.widgetData.desription}} {{'NAV_WIDGET.FOLLOWERS' | translate}}</p>
        </div>
    </div>
    <nav class="nav-body">
        <ul>
            <li ng-click="navWidgetCtrl.setSelected(item)" ng-repeat="item in navWidgetCtrl.widgetData.items" ng-class="(item.id ===  navWidgetCtrl.widgetData.itemSelected) ? 'selected': ''">
                <span translate="{{item.name}}"></span>
                <i ng-class="item.icon" aria-hidden="true"></i>
            </li>
        </ul>
    </nav>
</div>
